@model IEnumerable<ReservationSystem.reservation>

@{
    ViewBag.Title = "Index";
}

<table class="col-lg-8" >
    <tr>
        <th>
            <h2>Booking History</h2>
        </th>
        <th>
             @Html.ActionLink("Start New Booking", "Create")
        </th>
    </tr>
</table>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.checkInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noOfGuest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noOfRooms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.checkInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkOutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noOfGuest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noOfRooms)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bId }) |
            @Html.ActionLink("Details", "Details", new { id=item.bId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bId })
        </td>
    </tr>
}

</table>
